*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: bisque;
  height: 80px;
}

.container{
  margin: 0 auto;
  max-width: 900px;
  
  
}


.container .top{
  margin-top: 200px;
  
  


}
main .container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  
  
  
}

div .row{
  display: flex;
  justify-content: center;
}


main{
  background-color: blue;
  height: 300px;
  padding-top: 50px;
}



.debug{
  background-color: rgb(214, 97, 97);
  border: 1px solid black;
}

.navbar .row{
  border: 1px solid black;
  justify-content: space-between;
  
}


.debug-border{
  border: 1px dashed black;

}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}


.top .row{
  
  height: 200px;


}

.row{
  
  display: flex;
}

.col{
  
  padding: 0 10px;
  
}

.col-1{
  padding: 0 10px;
}

.a-flex{
  display: flex;
}




header nav ul{
  display: flex;
  list-style: none;
  
}


header nav ul a{
  display: flex;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: rgb(167, 187, 52);
  margin: 4 20px;
  padding: 5px 10px;
}

