*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: bisque;
  height: 80px;
}

.container{
  margin: 0 auto;
  max-width: 900px;
  
  
}


.container .top{
  margin-top: 200px;

}

.container .green{
  margin-top: 200px;
}

main .container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  
}

div .row{
  display: flex;
  justify-content: center;
}


section.bg-blue{
  background-color: blue;
  padding-bottom: 50px;
  padding-top: 50px;
}

section.bg-green{
  background-color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}

section.bg-grey{
  background-color: grey;
  padding-top: 50px;
  padding-bottom: 50px;
}



.debug{
  background-color: rgb(221, 66, 66);
  border: 1px dashed black;
}

.navbar .row{
  border: 1px solid black;
  justify-content: space-between;
}


.debug-border{
  border: 1px dashed black;
}

header .flex-center{
  height: 80px;

}

.column{
  padding: 20px;
  
}

main .acol{
  width: 40%;
  background-color: rgb(91, 66, 193);
}

main .qcol{
  width: 15%;
  background-color: aliceblue;
}



main .rcol{
  background-color: aqua;
  width: 40%;
}

main .lcol{
  background-color: chartreuse;
  width: 60%;
}

main .dcol{
  background-color: rgb(223, 130, 225);
  width: 100%;
}


.colflex{
  display: flex;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.row{
  height: 0 auto;
}



.logo{
  display: flex;
}



.a-flex{
  display: flex;
}

footer{
  background-color: rgba(39, 36, 36, 0.975);
}




header nav ul{
  display: flex;
  list-style: none;
}


header nav ul a{
  display: flex;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: rgb(167, 187, 52);
  margin: 4 20px;
  padding: 5px 10px;
}

